<div class="flex flex-col items-center justify-center p-10 h-full text-center" style="<%= bgStyle %>">
    <div class="prose lg:prose-xl dark:prose-invert max-w-4xl w-full">
        <%- content %>
    </div>
</div>